<h1>Operator</h1>


<a href="/city_list"><button type="button" class="btn btn-dark">View all cities</button></a>


<a href="/train_list"><button type="button" class="btn btn-dark">View all trains</button></a>
